[Desktop Entry]
Name=Virtual Piano
Exec=aseqmm-vpiano
Icon=aseqmm
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Education;Music;
Comment=Virtual Piano
Comment[es]=Piano virtual 
