[Desktop Entry]
Name=Virtual Piano
Exec=drumstick-vpiano
Icon=drumstick
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Education;Music;
Comment=Virtual Piano
Comment[es]=Piano virtual 
