[Desktop Entry]
Name=Drumstick Drum Grid
Exec=drumstick-drumgrid
Icon=drumstick
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Education;Music;
Keywords=Music;Midi;Drum;Grid;
Comment=Drumstick Drum Grid
Comment[es]=Caja de Ritmos de Drumstick 
