[Desktop Entry]
Name=Drum Grid
Exec=drumstick-drumgrid
Icon=drumstick
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Education;Music;
Comment=Drum Box
Comment[es]=Caja de Ritmos 
